body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: "Roboto", sans-serif;
	background-color: #eee;
	z-index: -1 !important;
	text-align: center;
	cursor: default;
}

body h1 {
	font-size: 4em;
}

body h2 {
	font-size: 3em;
}

body h3 {
	font-size: 1.5em;
}

body ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

body li:first-child {
	margin-top: 0;
}

body li {
	margin-top: 2em;
	text-align: center;
}

body a {
	color: #666;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
}

header {
	background-color: #eee;
	display: flex;
	position: fixed;
	justify-content: center;
	line-height: 2em;
	width: 100%;
	z-index: 1 !important;
	filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.5));
}

header li:first-child {
	margin-left: 0;
}

header li {
	display: inline;
	margin-left: 4em;
}

section {
	margin: 0 auto;
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section a {
	color: green;
}

hr {
	margin: 0 auto;
	padding: 0 !important;
	height: 1vh;
	background-color: #666;
}

.logo {
	width: 20em;
	border-radius: 50%;
}

footer {
	background-color: #eee;
	text-align: center;
	line-height: 2em;
}

@media (hover: hover) {
	body a {
		color: #666;
		transition: color 0.3s ease-in-out;
	}

	body a:hover {
		color: green;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}

	body h1 {
		font-size: 2.5em;
	}

	body h2 {
		font-size: 2em;
	}

	body h3 {
		font-size: 1.5em;
	}

	header {
		line-height: 1.5em;
		width: 100%;
	}

	header li:first-child, li:last-child {
		display: inline;
	}

	header li {
		display: none;
	}

	section {
		width: 80vw;
	}
}
